body {background-color:black;font-family: arial;color:white;font-size: medium;}

h1{color:grey;font-family: Verdana;}

footer{font-size: large;}

.mainDiv{
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    align-self: center
}

.dataDiv{
    padding-left: 80px;
}

.rangeDiv{
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: flex-end;
}

select.mySelect{
    background-color:white;
    width:40px;
}

